.item_header{
    display: flex;
    gap: 20px;
    padding-right: 100px;
}
.header-text{
    display:flex;
}
.nav_item{
    width: 100px;
}
.main-header{
    width: 100%;
    display: flex;
    gap:70px;
    list-style: none;
    margin-left: 390px;
}
.main{
    width: 50%;
    display: flex;
    justify-content: end ;
    align-items:baseline;
    padding-top: 20px;
    background-color: black;
}
.main-header li{
    display: flex;
}
.main-header li a{ 
    text-decoration: none;
    color: #fff;
    :hover {
        color:rgb(78, 117, 78) ;
    }
}
h5{
    color: azure;
    margin-right: 500px;
    width: 100px;
   
}




/*-----------------------------footer-----------------------------------------*/


.footer-items{
    display: flex;
    justify-content: center;
    gap: 20px;
    bottom: 0;
    color: aliceblue;

    
}

h6{
    color: azure;
}


a{
    color: aliceblue;
}


  .ftr{
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
  }
  .ftr-1 {
    margin-top: 0px !important;
    color: white;
  }


  /*-------------------------------------- body text content-----------------------------------------------------------------------*/


.card{
    box-shadow: 0 4px 8px 0 rgba(10, 9, 9, 0.2);
    transition: 0.5s;
    display: flex;
    align-items: center;
    margin-left: 100px;
    padding-top: 100px;
    
}






.bdtxt{
    text-align: center;
    color:rgb(20, 20, 24);
    padding-top: 25px;
}

.crd{
    display: flex;
    height: auto;
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
    padding-top: 10px;
    
} 
.card{
    margin:10px;
    margin-top: 0px;
    border: 2px solid #EBEAED;
    box-sizing: border-box;
    height: 310px;
    width: 280px;
    border-radius: 10px;
    border-style: groove;
    }

    .btn btn-primary blue-btn{
        color: blue;
        background-color: blue;
        color: white;
    }

/* --------------------------------------from field design----------------------------------------- */

.MyUserCard{
    background-color: rgb(73, 3, 3);
    padding-top: 10px;
    background-image: url('https://picsum.photos/200/300');
    
}

.formmain{
    background-color: rgba(95, 93, 82, 0);
}

.FormDesign{
   background-color: beige;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 100%;
   margin: 0;
    

}
/* d-flex justify-content-center align-items-center p-5  */