.data-container {
    display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.item{
    padding: 10px;
}

.items{
  text-decoration: none;
  color: black;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pagination li{
  list-style: none;
  
}
.pagination li a{
  color: rgb(27, 74, 161);
  
}


.PaginatedItems {
  display: flex;
  list-style: none;
  justify-content: center;
}

.PaginatedItems li {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #9db9ca;
}

.PaginatedItems li:hover {
  background-color: #e0e0e0;
}

.PaginatedItems .active {
  background-color: #c48d8d;
  font-weight: bold;
  color: #ffffff;
}

.PaginatedItems .active:hover {
  background-color: #c0c0c0;
}

.ListUserProfile{

  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 60px; 
  flex-wrap: wrap; 

  width: 45.33%; 
  margin-left: 380px;
  padding: 5px; 
  display: grid;
  grid-template-columns: auto auto auto ;
}
